<aside class="app-related-items" role="complementary">
    <span class="govuk-caption-m">{{data.user.name.first}} {{data.user.name.last}} </span>
    <h2 class="govuk-heading-m" id="subsection-title">
          My profile
        </h2>
    <p><span class="govuk-visually-hidden">email:</span> {{data.user.email}} (<a class="govuk-link" href="#">change</a>)</p>
    <nav role="navigation" aria-labelledby="subsection-title">
        <ul class="govuk-list govuk-!-font-size-16">
            <li>
                <a href="#">
                Change address
              </a>
            </li>
            <li>
                <a href="#">
                Change password
              </a>
            </li>
        </ul>
    </nav>
</aside>