{% extends "probation/layout.html" %}

{% block pageTitle %}
  My convictions
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="">Her Majesty’s Prison & Probation Service</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/prisoner">{{serviceName}}</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">My convictions</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
        My convictions
      </h1>
        <div class="govuk-inset-text">
            3 convictions are unspent. All convictions will be spent on 23 June 2020.
        </div>
        <p><a class="govuk-link govuk-link--no-visited-state" href="/probation/declaring-convictions">Declaring your criminal convictions</a></p>
        <table class="govuk-table">
            <caption class="govuk-table__caption">Unspent convictions</caption>
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th class="govuk-table__header govuk-!-width-one-third" scope="col">Name</th>
                    <th class="govuk-table__header govuk-!-width-one-third" scope="col">Date of conviction</th>
                    <th class="govuk-table__header govuk-!-width-one-third" scope="col">Date spent</th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="row">Assault</th>
                    <td class="govuk-table__cell">23 June 2014</td>
                    <td class="govuk-table__cell">23 June 2019</td>
                </tr>
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="row">Theft</th>
                    <td class="govuk-table__cell">19 May 2015</td>
                    <td class="govuk-table__cell">19 May 2019</td>
                </tr>
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="row">Grand theft auto</th>
                    <td class="govuk-table__cell">23 June 2015</td>
                    <td class="govuk-table__cell">23 June 2020</td>
                </tr>
            </tbody>
        </table>
        <table class="govuk-table">
            <caption class="govuk-table__caption">Spent convictions</caption>
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th class="govuk-table__header govuk-!-width-one-third" scope="col">Name</th>
                    <th class="govuk-table__header govuk-!-width-one-third" scope="col">Date of conviction</th>
                    <th class="govuk-table__header govuk-!-width-one-third" scope="col">Date spent</th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="row">Theft</th>
                    <td class="govuk-table__cell">23 June 2010</td>
                    <td class="govuk-table__cell">23 June 2017</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="govuk-grid-column-one-third">
    </div>
</div>
{% endblock %}
