{% extends "probation/layout.html" %}

{% block pageTitle %}
  Write a CV
{% endblock %}



{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="">Her Majesty’s Prison & Probation Service</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/prisoner">{{serviceName}}</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">My convictions</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}

	<h1 class="govuk-heading-xl">
        How to write a CV
      </h1>  	   
		<p>The example CV you were given on release will help you highlight your abilities and skills.</p> 
		<p>Because you were in prison, there will be a gap in your employment history. A skills-based CV draws less attention to this than a date-based CV.</p> 
		<p>You don’t have to state you’ve been in prison on your CV, but of course you’ll have to explain this if you’re asked at an interview. You might want to give details in the covering letter you’ll send to an employer with your CV.</p> 
		<p>Try to make your CV show how you used the time you were unavailable for work constructively. 
		<p>Examples could be:</p>

		<ul class="govuk-list govuk-list--bullet">
		    <li>training courses
			<li>new skills</li>
			<li>volunteering </li>
			<li>projects you’ve done yourself</l>
		</ul> 
		</p>
	
 
   
    

{% endblock %}
