{% extends "probation/layout.html" %}

{% block pageTitle %}
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}


{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Her Majesty’s Prison &amp; Probation Service</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Prisoner services</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
		<h1 class="govuk-heading-xl">{{surgery.name}}</h1>
    <h2 class="govuk-heading-s">Address</h2>
    <p>{{surgery.address | safe }}</p>
    <p><a class="govuk-link" href="https://www.google.com/maps/search/{{surgery.name}},{{surgery.mapAddress}}" target="_blank">View on map</a></p>
    <h2 class="govuk-heading-s">Phone</h2>
    <p>{{surgery.phone | safe }}</p>

		<p><a class="govuk-link govuk-link--no-visited-state" href="https://www.nhs.uk/Services/GP/Overview/DefaultView.aspx?id={{surgery.id}}" target="_blank">View more on NHS website</a></p>
      
    </div>
</div>
{% endblock %}
