{% extends "probation/layout.html" %}

{% block pageTitle %}
  {{serviceName}}
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">Her Majesty’s Prison & Probation Service</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link">{{serviceName}}</a>
    </li>
  </ol>
</div>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <h1 class="govuk-heading-xl">
        {{serviceName}}
      </h1>


      <h2 class="govuk-heading-l">As soon as possible after release </h2>


      
      <details>
        <summary class="govuk-heading-s summary-link">Register at a local GP
        </summary>
        <p class="govuk-body" id="gp-details">It usually takes 2 weeks to register at a GP, but this can take longer at some GPs. You will need to be registered to make an appointment or get medication.</p>
        <ul class="govuk-list">
          <li><a class="govuk-link" href="/probation/gp">Find a GP near me</a></li>
        </ul>

      </details>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
      
      <details>
        <summary class="govuk-heading-s summary-link">Get proof of ID</summary>
      <p class="govuk-body">You will need proof of ID to apply for benefits and to register at a GP. </p>
      <ul class="govuk-list">
        <li><a class="govuk-link" href="#">How to get Proof of ID</a></li>
        <li><a class="govuk-link" href="#">What proof of ID do I need?</a></li>
      </ul>
    </details>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <details>
        <summary class="govuk-heading-s summary-link">Apply for benefits</summary>

      <p class="govuk-body">You are living in Sheffield, which means you can apply for Universal Credit. 
        This replaces several benefits:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>Child Tax Credit.</li>
          <li>Housing Benefit.</li>
          <li>Income Support.</li>
          <li>income-based Jobseeker's Allowance (JSA)</li>
          <li>income-related Employment and Support Allowance (ESA)</li>
          <li>Working Tax Credit.</li>
        </ul>
      <p class="govuk-body">You can get help applying for benefits at a local job centre. </p>
      <ul class="govuk-list">
        <li><a class="govuk-link govuk-link--no-visited-state"  href="https://www.gov.uk/apply-universal-credit">How to apply for Universal credit</a></li>
        <li><a class="govuk-link govuk-link--no-visited-state"  href="https://find-your-nearest-jobcentre.dwp.gov.uk/">Find a job centre</a></li>
      </ul>
    </details>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <h2 class="govuk-heading-l govuk-!-margin-top-9">Your probation terms</h2>

      <details>
        <summary class="govuk-heading-s summary-link">Your Licence conditions</summary>
      
      <p class="govuk-body">You must stick to your licence conditions to stay out of prison.</p>

      <ul class="govuk-list">
        <li><a href="#">View your release licence conditions</a></li>
        <li><a href="#">What do my licence conditions mean?</a></li>
      </ul>
      </details>
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <details>
        <summary class="govuk-heading-s summary-link">Meeting your probation officer</summary>
      
      <p class="govuk-body">You must attend regular meetings with your probation officer.</p>

      <p class="govuk-body-l">Your next meeting is Tuesday 19 March at 10:00am. </p>
      </details>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
      
      <h2 class="govuk-heading-l govuk-!-margin-top-9">Finding work and housing</h2>
  

      <details>
        <summary class="govuk-heading-s summary-link">Finding work</summary>
      
      <p class="govuk-body">When you're looking for work after leaving prison, you may need to declare some or allof your criminal convictions.</p>

      <ul class="govuk-list">
        <li><a href="/probation/convictions">Writing a CV</a></li>
        <li><a href="/probation/convictions">View my criminal conivctions</a></li>
        <li><a href="/probation/declaring-convictions">Declaring you criminal convictions</a></li>
      </ul>
      </details>
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <details>
        <summary class="govuk-heading-s summary-link">Finding somewhere to live</summary>
      
      <p class="govuk-body">It's important to find somewhere stable to live long term. You can get assistance from your local council and charities. </p>

      <ul class="govuk-list">
        <li><a href="#">Contact your local council</a></li>
      </ul>


      </details>
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">


    <div class="govuk-grid-column-one-third">
<!--
      {% include "probation/_profile.html" %}
-->
    </div>
  </div>
{% endblock %}
