{% extends "probation/layout.html" %}

{% block pageTitle %}
  Your licence conditions
{% endblock %}



{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="">Her Majesty’s Prison & Probation Service</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/prisoner">{{serviceName}}</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">My convictions</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}
        <h1 class="govuk-heading-xl">
        Your licence conditions
      </h1>  	   

	<h2 class="govuk-heading-m">Purpose of release on licence</h2>

	<ul class="govuk-list govuk-list--bullet">
		    <li>To protect the public</a></li>
		    <li>To prevent re-offending</li>
		    <li>To promote successful reintegration into the community</li>
	</ul>	
	<h2 class="govuk-heading-l">Standard conditions</h2>

		<p>You must:</p>

			<ul class="govuk-list govuk-list--bullet">
				<li>keep in touch with your supervising officer, as instructed by them</li>

				<li>have visits from your supervising officer, as instructed by them</li>

				<li>permanently live at an address approved by your supervising officer and get their permission to stay at a different address for 1 or more nights</li>

				<li>only do work approved by your supervising officer (including volunteering) and notify them before any change</li>

				<li>not travel outside the United Kingdom, the Channel Islands or the Isle of Man without getting permission from your supervising officer</li>

				<li>be well behaved and not do anything which could undermine the purpose of your supervision (protect the public, prevent re-offending, promote successful reintegration into the community)</li>

				<li>not commit any offence.</li>
			</ul>

		<h2 class="govuk-heading-l">Extra conditions</h2>
		
				<p>You must:</p>
		
			<ul class="govuk-list govuk-list--bullet">

				<li> stay at your place of curfew from 2100 each evening until 0800 each morning</li>
			</ul>
 
    
    
    </div>
{% endblock %}
