{% extends "authentication/layout.html" %}

{% block pageTitle %}
  {{serviceName}}
{% endblock %}



{% block beforeContent %}
<a href="/authentication" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form action="sign-in" method="post" novalidate>
            <h1 class="govuk-heading-xl">
                Sign in to {{serviceName}}
              </h1>
            {% if invalidLogin %}
            <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary">
              <h2 class="govuk-error-summary__title" id="error-summary-title">
                Your details do not match
              </h2>
              <div class="govuk-error-summary__body">
                <ul class="govuk-list govuk-error-summary__list">
                  <li>
                    <a href="#username">Enter a valid username and password</a>
                  </li>
                </ul>
              </div>
            </div>
            {% endif %}

            <div class="govuk-form-group">
                <label class="govuk-label" for="event-name">
                    Username
                </label>
                <input class="govuk-input govuk-input--width-20" name="username" id="username" type="text">
            </div>
            <div class="govuk-form-group">
                <label class="govuk-label" for="event-name">
                    Password
                </label>
                <input class="govuk-input govuk-input--width-20" name="password" type="password" id="password">
            </div>
            <button type="submit" class="govuk-button">
                Continue
            </button>
        </form>
        <p><a href="#" title="">I've forgotten my sign in details</a>.</p>
    </div>
</div>
{% endblock %}
