{% extends "verify-licence/layout.html" %}

{% block pageTitle %}
  Verify a licence
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Her Majesty’s Prison & Probation Service</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Prisoner services</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Prisoner Services
      </h1>

      <div class="prisoner__section">
        <h2 class="prisoner__heading govuk-heading-m">My convictions</h2>
        <p>You have 3 convictions you need to declare</p>
        <p><a class="govuk-button govuk-button--secondary" href="/prisoner/convictions" title="">Show my convictions</a>
      </div>

      <div class="prisoner__section">
        <h2 class="prisoner__heading govuk-heading-m">Health</h2>
        <p>There are 5 GPs near you who are open for registration</p>
        <p><a class="govuk-button govuk-button--secondary" href="" title="">View all GPs</a>
      </div>


    </div>

    <div class="govuk-grid-column-one-third">

      <aside class="app-related-items" role="complementary">
        <span class="govuk-caption-m">Jason Burmingham</span>
        <h2 class="govuk-heading-m" id="subsection-title">
          My profile
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="#">
                Change address
              </a>
            </li>
            <li>
              <a href="#">
                Change password
              </a>
            </li>
          </ul>
        </nav>
      </aside>

    </div>
  </div>
{% endblock %}
