{% extends "resettlement-planning/layout-prisoner.html" %}

{% block pageTitle %}
Release address - {{person.name.first}} {{person.name.last}}
{% endblock %}



{% block backlink %}
<a href="/resettlement-planning/{{person.index}}/details" class="govuk-back-link">Back</a>
{% endblock %}

{% block maincontent %}

{% if person.hasAddress %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-m">Latest address information</h1>
      <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                  Address
              </dt>
              <dd class="govuk-summary-list__value">
                  {{person.address.street}}<br>
                  {{person.address.city}}<br>
                  {{person.address.postcode}}
              </dd>
          </div>
          <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                  NOMIS entry
              </dt>
              <dd class="govuk-summary-list__value">
                  {{person.addressProvidedOn | formatDate('D MMMM YYYY')}}
              </dd>
          </div>
          
      </dl>
      {% if  person.addressConfirmed %}
      <a href="#" title="" class="govuk-button govuk-button--secondary">Edit address</a>    
      {% endif %}

    </div>
  </div>
  {% endif %}
  
  {% if not person.addressConfirmed and person.hasAddress  %}
  <form action="address" method="post" novalidate>
  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
        <h1 class="govuk-fieldset__heading">
          Is this where {{person.name.first}} will be living?
        </h1>
      </legend>
      <div class="govuk-radios govuk-radios--inline">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="address-confirmed-1" name="address-confirmed" type="radio" value="probationProvided">
          <label class="govuk-label govuk-radios__label" for="address-confirmed-1">
           Yes
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="address-confirmed-2" name="address-confirmed" type="radio" value="no">
          <label class="govuk-label govuk-radios__label" for="address-confirmed-2">
            No
          </label>
        </div>
      </div>
    </fieldset>
  </div>

  <button type="submit" class="govuk-button">
    Continue
  </button>
</form>
{% endif %}


{% if not person.hasAddress %}
<form action="housing-2" method="post" novalidate>
  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
        <h1 class="govuk-fieldset__heading">
          Will {{person.name.first}} have accommodation when they leave?
        </h1>
      </legend>
      <div class="govuk-radios">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="addressProvided-1" name="address-provided" type="radio" value="probationProvided">
          <label class="govuk-label govuk-radios__label" for="address-provided-1">
           Yes - We have provided accomodation
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="address-provided-2" name="address-provided" type="radio" value="prisonerProvided">
          <label class="govuk-label govuk-radios__label" for="address-provided-2">
            Yes - {{person.name.first}} has given an address where they will be staying
          </label>
        </div>
        <div class="govuk-radios__divider">or</div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="address-provided-3" name="address-provided" type="radio" value="no">
          <label class="govuk-label govuk-radios__label" for="address-provided-3">
            No
          </label>
        </div>
      </div>
    </fieldset>
  </div>

  <button type="submit" class="govuk-button">
    Continue
  </button>
</form>
{% endif %}


        
{% endblock %}
