{% extends "resettlement-planning/layout.html" %}

{% block pageTitle %}
{% endblock %}





{% block content %}
  
<a href="/resettlement-planning/{{person.index}}/details" class="govuk-back-link">Back</a>
<h2 class="govuk-heading-l">{{person.name.first}} {{person.name.last}}
<span class="govuk-caption-l">Release date: {{person.releaseDate | formatDate("D MMMM YYYY")}}</span></h2>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Check details before printing the form</h1>
      <h2 class="govuk-heading-m">Personal details</h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Name
            </dt>
            <dd class="govuk-summary-list__value">
              {{person.name.first}} {{person.name.last}}
            </dd>
            <dd class="govuk-summary-list__actions">
              
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Date of discharge
            </dt>
            <dd class="govuk-summary-list__value">
              {{person.releaseDate | formatDate('D MMMM YYYY')}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change
                <span class="govuk-visually-hidden"> release date</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Address on discharge
            </dt>
            <dd class="govuk-summary-list__value">
            {{person.address.street}} <br>
            {{person.address.city}} <br>
            {{person.address.postcode}}
            </dd>
            <dd class="govuk-summary-list__actions">
              
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              National Insurance Number
            </dt>
            <dd class="govuk-summary-list__value">
              {{data.b79.nino}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change
                <span class="govuk-visually-hidden"> contact details</span>
              </a>
            </dd>
          </div>
        </dl>


      <h2 class="govuk-heading-m">Job centre details</h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Jobcentre address
            </dt>
            <dd class="govuk-summary-list__value">
            {{data.b79['address-line-1']}} <br>
            {{data.b79['address-line-2']}} <br>
            {{data.b79['address-town']}} <br>
            {{data.b79['address-county']}} <br>
            {{data.b79['address-postcode']}} 

            </dd>
            <dd class="govuk-summary-list__actions">
              
            </dd>
          </div>
        </dl>

        <h2 class="govuk-heading-m">Money</h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Release Money
            </dt>
            <dd class="govuk-summary-list__value">
            &pound;{{data.b79['release-money']}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change
                <span class="govuk-visually-hidden"> contact details</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Other money on release
            </dt>
            <dd class="govuk-summary-list__value">
            &pound;{{data.b79['other-money']}}
            
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change
                <span class="govuk-visually-hidden"> contact details</span>
              </a>
            </dd>
          </div>
        </dl>
       

        <form action="b79-complete" method="post">
          <button type="submit" class="govuk-button">Complete</button>
        </form>
        <div>
    </div>

</div>

{% endblock %}



