n{% extends "resettlement-planning/layout.html" %}

{% block pageTitle %}
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}



{% block content %}
  
<a href="/resettlement-planning/{{person.index}}/details" class="govuk-back-link">Back</a>

<h2 class="govuk-heading-l">{{person.name.first}} {{person.name.last}}
<span class="govuk-caption-l">Release date: {{person.releaseDate | formatDate("D MMMM YYYY")}}</span></h2>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


<form action="b79-2" method="post" accept-charset="utf-8">
<fieldset class="govuk-fieldset">
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
    <h1 class="govuk-fieldset__heading">
      Job centre address
    </h1>
  </legend>

        <div class="govuk-inset-text">
        {% if person.hasAddress %}
        <p>Enter the nearest job centre to {{person.name.first}}&apos;s address:
        </p>
        <p>{{person.address.street}} <br>
            {{person.address.city}} <br>
            {{person.address.postcode}}</p>
        {% else %}
        <p>{{person.name.first}} does not have a release address. They will be released to        {{person.releaseLocation}}</p>
        {% endif %}
        <p><a href="https://find-your-nearest-jobcentre.dwp.gov.uk/" target="_blank">Find nearest job centre</a>
        </div>
  <div class="govuk-form-group">
    <label class="govuk-label" for="address-line-1">
      Building and street
      <span class="govuk-visually-hidden">line 1 of 2</span>
    </label>
    <input class="govuk-input" id="address-line-1" 
    name="b79[address-line-1]"
    value="{{data.b79['address-line-1']}}" 
    type="text">
  </div>

  <div class="govuk-form-group">
    <label class="govuk-label" for="address-line-2">
      <span class="govuk-visually-hidden">Building and street line 2 of 2</span>
    </label>
    <input class="govuk-input" id="address-line-2" 
    name="b79[address-line-2]"
    value="{{data.b79['address-line-2']}}" 
    type="text">
  </div>

  <div class="govuk-form-group">
    <label class="govuk-label" for="address-town">
      Town or city
    </label>
    <input class="govuk-input govuk-!-width-two-thirds" id="address-town" 
    name="b79[address-town]"
    value="{{data.b79['address-town']}}" 
    type="text">
  </div>

  <div class="govuk-form-group">
    <label class="govuk-label" for="address-county">
      County
    </label>
    <input class="govuk-input govuk-!-width-two-thirds" id="address-county" 
    name="b79[address-county]"
    value="{{data.b79['address-county']}}" 
    type="text">
  </div>

  <div class="govuk-form-group">
    <label class="govuk-label" for="address-postcode">
      Postcode
    </label>
    <input class="govuk-input govuk-input--width-10" id="address-postcode" 
    name="b79[address-postcode]"
    value="{{data.b79['address-postcode']}}" 
    type="text">
  </div>

</fieldset>

<button class="govuk-button">Continue</button>
</form>



</div>
</div>
{% endblock %}