{% extends "resettlement-planning/layout-prisoner.html" %}

{% block pageTitle %}
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}



{% block maincontent %}
  

<p>Complete the tasks below to help {{person.name.first}} prepare for release and update Probation Services in advance. </p>
<div class="govuk-grid-row">	
	<div class="govuk-grid-column-two-thirds">
		<ul class="app-task-list__items">
			<li class="app-task-list__item">
				<a class="app-task-list__task-name govuk-link--no-visited-state" href="housing">	Housing
				</a>
				{% if person.hasAddress %}
				<strong class="govuk-tag app-task-list__task-completed" id="housing-completed">Completed</strong>
				{% endif %}
			</li>
			<li class="app-task-list__item">
				<a class="app-task-list__task-name govuk-link--no-visited-state" href="proof-of-id">
					Proof of Identification
				</a>
				{% if person.hasId == "yes" %}
				<strong class="govuk-tag app-task-list__task-completed" id="bank-completed">Completed</strong>
				{% endif %}
			</li>
			<li class="app-task-list__item">
				<a class="app-task-list__task-name govuk-link--no-visited-state" 
				{% if person.email %}
					href="email-2"
				{% else %}
					href="email"
				{% endif %}>
					Email address
				</a>
				{% if person.email %}
				<strong class="govuk-tag app-task-list__task-completed" id="housing-completed">Completed</strong>
				{% endif %}
			</li>

			<li class="app-task-list__item">
				<a class="app-task-list__task-name govuk-link--no-visited-state" href="bank">
					Bank account
				</a>
				{% if person.hasBank == "yes" %}
				<strong class="govuk-tag app-task-list__task-completed" id="bank-completed">Completed</strong>
				{% endif %}
			</li>
			<li class="app-task-list__item">
				<a class="app-task-list__task-name govuk-link--no-visited-state" href="{{ 'work' if not person.b79.complete}}{{ 'b79-complete' if person.b79.complete}}">
					Work and benefits
				</a>
				{% if person.hasWork == "yes" or person.b79 %}
				<strong class="govuk-tag app-task-list__task-completed" id="work-completed">Completed</strong>
				{% endif %}
				
			</li>
			<li class="app-task-list__item">
				<a class="app-task-list__task-name govuk-link--no-visited-state" href="gp">
					Register at a GP
				</a>
				{% if person.gpid %}
				<strong class="govuk-tag app-task-list__task-completed" id="gp-completed">Completed</strong>
				{% endif %}
			</li>
		</ul>
	</div>
</div>
        
{% endblock %}
