{% extends "resettlement-planning/layout.html" %}
{% block pageTitle %}
{% endblock %}
{% block header %}
<!-- Blank header with no service name for the start page -->
{{ govukHeader() }}
{% endblock %}
{% block content %}
<a href="/resettlement-planning/{{person.index}}/details" class="govuk-back-link">Back</a>
<h1 class="govuk-heading-l">{{person.name.first}} {{person.name.last}}
<span class="govuk-caption-l">Release date: {{person.releaseDate | formatDate("D MMMM YYYY")}}</span></h1>
<form action="/resettlement-planning/{{person.index}}/email-2" method="post" novalidate>
    <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-fieldset__heading">
        Has {{person.name.first}} got an email address?
      </h1>
            </legend>
            <div class="govuk-radios govuk-radios--conditional" data-module="radios">
                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="has-email-1" name="has-email" type="radio" value="yes" data-aria-controls="conditional-has-email-1">
                    <label class="govuk-label govuk-radios__label" for="has-email-1">
                        Yes
                    </label>
                </div>
                <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-has-email-1">
                    <div class="govuk-form-group">
                        <label class="govuk-label" for="contact-by-email">
                            Email address
                        </label>
                        <input class="govuk-input govuk-!-width-one-third" id="contact-by-email" name="email" type="email">
                    </div>
                </div>
                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="has-email-2" name="has-email" type="radio" value="no" data-aria-controls="conditional-has-email-2">
                    <label class="govuk-label govuk-radios__label" for="has-email-2">
                        No
                    </label>
                </div>
            </div>
        </fieldset>
    </div>
    <button type="submit" class="govuk-button">
        Continue
    </button>
</form>
{% endblock %}