{% extends "resettlement-planning/layout.html" %}

{% block pageTitle %}
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}



{% block content %}
  
<a href="/resettlement-planning/{{person.index}}/details" class="govuk-back-link">Back</a>

<h1 class="govuk-heading-l">{{person.name.first}} {{person.name.last}}
<span class="govuk-caption-l">Release date: {{person.releaseDate | formatDate("D MMMM YYYY")}}</span></h1>

{% if person.onLicence %}
<p>{{person.name.first}} will be released on licence at the following address:</p>
{% elseif person.hasAddress %}
<p>{{person.name.first}} has provided the following address:</p>
{% endif %}

{% if person.onLicence or person.hasAddress %}
<h3 class="govuk-heading-s">Address</h3>
<p>{{person.address.street}} <br>
	{{person.address.city}} <br>
	{{person.address.postcode}}
</p>

<a href="#" class="govuk-button govuk-button--secondary" title="">Edit address</a>
{% endif %}

{% if person.hasAddress != true and not person.releaseLocation %}

<form action="housing-2" method="post" novalidate>
  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
        <h1 class="govuk-fieldset__heading">
          Has {{person.name.first}} provided an address?
        </h1>
      </legend>
      <div class="govuk-radios govuk-radios--inline">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="addressProvided-1" name="addressProvided" type="radio" value="yes">
          <label class="govuk-label govuk-radios__label" for="addressProvided-1">
            Yes
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="addressProvided-2" name="addressProvided" type="radio" value="no">
          <label class="govuk-label govuk-radios__label" for="addressProvided-2">
            No
          </label>
        </div>
      </div>
    </fieldset>
  </div>

  <button type="submit" class="govuk-button">
    Continue
  </button>
</form>

{% elseif person.releaseLocation %}
<p>{{person.name.first}} will be released to {{person.releaseLocation}}</p>

<div class="govuk-grid-row">
  
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
            Housing services available in {{data['release-location']}}
            </h1>
            <section class="ttg-section">
            <h2 class="govuk-heading-m">Sheffield Council</h2>
            <p>Phone: 0114 273 6306</p>
            <p><a class="govuk-link--no-visited-state" href="https://www.sheffield.gov.uk/content/sheffield/home/housing/housing-advice-options-line.html">Visit website</a></p>
            </section>

            <section class="ttg-section">
            <h2 class="govuk-heading-m">{{shelter.Name}}</h2>
            <p>Phone: 0344 515 1515</p>
            <p><a class="govuk-link--no-visited-state" href="{{shelter.Website}}">Visit website</a></p>
            </section>
  </div>
</div>

{%endif%}

        
{% endblock %}
