{% extends "resettlement-planning/layout.html" %}

{% block pageTitle %}
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}



{% block content %}
  


<table class="govuk-table">
  <caption class="govuk-table__caption"><h1 class="govuk-heading-l">Due for release</h1></caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="col">Name</th>
      <th class="govuk-table__header" scope="col">Release date</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    {% for case in caseList | sort(false, false, 'releaseDate') %}
    <tr class="govuk-table__row">
      <td class="govuk-table__cell" scope="row">
        <a class="govuk-link govuk-link--no-visited-state" href="resettlement-planning/{{case.index}}/details">{{case.name.first}} {{case.name.last}}</a></td>
      <td class="govuk-table__cell">{{case.releaseDate | formatDate("D MMMM YYYY") }}</td>
    </tr>
    {% endfor %}
    
  </tbody>
</table>
{% endblock %}
