{% extends "layout.html" %}


{% block header %}
  {% include "includes/cookie-banner.html" %}
  {# Set serviceName in config.js. #}
  {{ govukHeader({
    homepageUrl: "/",
    serviceName: "Resettlemt",
    serviceUrl: "/resettlemnt-planning",
    containerClasses: "govuk-width-container"
  }) }}
{% endblock %}

{% block content %}

{% block backlink %}
<a href="/resettlement-planning" class="govuk-back-link">Back</a>

{% endblock %}

{% block keydetails %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">{{person.name.first}} {{person.name.last}}
    <span class="govuk-caption-l">Release date: {{person.releaseDate | formatDate("D MMMM YYYY")}}</span></h1>
  </div>
</div>
{% endblock %}

{% block maincontent %}



{% endblock %}
{% endblock %}


{% block bodyEnd %}
  {% block scripts %}
    {% include "includes/scripts.html" %}
    {% block pageScripts %}{% endblock %}
  {% endblock %}
  <!-- GOV.UK Prototype Kit {{releaseVersion}} -->
{% endblock %}
