{% extends "resettlement-planning/layout.html" %}

{% block pageTitle %}
{% endblock %}





{% block content %}
  
<a href="/resettlement-planning/{{person.index}}/details" class="govuk-back-link">Back</a>

<h2 class="govuk-heading-l">{{person.name.first}} {{person.name.last}}
<span class="govuk-caption-l">Release date: {{person.releaseDate | formatDate("D MMMM YYYY")}}</span></h2>



<h1 class="govuk-heading-l">Primary ID options</h1>

<h2 class="govuk-heading-m">Citizencard</h2>

<p class="govuk-body">Prison or probation staff can act as a referee for this... costs &pound;15 etc.</p>

<h2 class="govuk-heading-m">Driving Licence</h2>

<p class="govuk-body">It is free to change the address on a drivers licence etc. </p>


{% endblock %}
