{% extends "resettlement-planning/layout.html" %}

{% block pageTitle %}
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}



{% block content %}
  
<a href="/resettlement-planning/{{person.index}}/details" class="govuk-back-link">Back</a>

<h1 class="govuk-heading-l">{{person.name.first}} {{person.name.last}}
<span class="govuk-caption-l">Release date: {{person.releaseDate | formatDate("D MMMM YYYY")}}</span></h1>

<h2 class="govuk-heading-m">Proof of Identification</h2>

{% if not person.hasId %}
<form action="" method="post" novalidate>
    <div class="govuk-form-group govuk-form-group">
        <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-fieldset__heading">
        Does {{person.name.first}} have any proof of identification?
      </h1>
            </legend>
            <div class="govuk-radios govuk-radios--inline" data-module="radios">
                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="has-id-1" name="has-id" type="radio" value="yes">
                    <label class="govuk-label govuk-radios__label" for="has-id-1">
                        Yes
                    </label>
                </div>
                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="has-id-2" name="has-id" type="radio" value="no">
                    <label class="govuk-label govuk-radios__label" for="has-id-2">
                        No
                    </label>
                </div>
            </div>
        </fieldset>
    </div>
    <button type="submit" class="govuk-button">
        Continue
    </button>
</form>

{% elseif person.hasId == "no" %}

<h2 class="govuk-heading-l">How to get proof of identification</h2>

{% endif %}

{% endblock %}
