{% extends "resettlement-planning/layout.html" %}

{% block pageTitle %}
{% endblock %}





{% block content %}
  
<a href="/resettlement-planning/{{person.index}}/details" class="govuk-back-link">Back</a>

<h2 class="govuk-heading-l">{{person.name.first}} {{person.name.last}}
<span class="govuk-caption-l">Release date: {{person.releaseDate | formatDate("D MMMM YYYY")}}</span></h2>



<h1 class="govuk-heading-l">Get primary ID</h1>

<p class="govuk-body">It's possible to get a CitizenCard, or update a photocard driving licence so it has an up-to-date address.</p>

<h2 class="govuk-heading-m">Get a Citizencard</h2>

<p class="govuk-body">CitizenCard is an official UK ID card. It costs £7.50 for offenders in prison, payable by postal order.</p>
<p class="govuk-body">Two passport-quality photos are needed.</p>

<p class="govuk-body">Prison officers or probation officers can verify (if over 25 and in full time employment). They will be contacted on a landline number during office hours (Monday - Friday 09.00 - 17.00). 
<p class="govuk-body"><a href="https://citizencard.com/files/CitizenCard-application.pdf" target="_blank">Application form (PDF)</a>
</p>

<h2 class="govuk-heading-m">Update photocard driving licence address</h2>

<p class="govuk-body">Complete form D1 and send it with the photocard driving licence to:</p>
<p class="govuk-body">DVLA<br />Swansea<br />SA99 1BN 
</p>


{% endblock %}
