{% extends "resettlement-planning/layout.html" %}

{% block pageTitle %}
{% endblock %}





{% block content %}
  
<a href="/resettlement-planning/{{person.index}}/details" class="govuk-back-link">Back</a>

<h2 class="govuk-heading-l">{{person.name.first}} {{person.name.last}}
<span class="govuk-caption-l">Release date: {{person.releaseDate | formatDate("D MMMM YYYY")}}</span></h2>



<h1 class="govuk-heading-l">Secondary ID options</h1>

<h2 class="govuk-heading-m">Birth Certificate</h2>
<p class="govuk-body">A birth cirtifican can also be used as proof of eligibility to work in the UK.</p>
<p class="govuk-body">Order a birth cirtificate online</p>

<h2 class="govuk-heading-m">Bank statement</h2>

<p class="govuk-body">You can <a class="govuk-link" href="bank">open a bank account</a> for {{person.name.first}} and use a bank statemnt as secondary ID</p>


{% endblock %}
