{% extends "resettlement-planning/layout-prisoner.html" %}

{% block pageTitle %}
Secondary ID - {{person.name.first}} {{person.name.last}}
{% endblock %}



{% block backlink %}
<a href="/resettlement-planning/{{person.index}}/details" class="govuk-back-link">Back</a>
{% endblock %}

{% block maincontent %}

<form action="secondary-id" method="post" novalidate>
    <div class="govuk-form-group govuk-form-group">
        <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-fieldset__heading">
                    How many items of secondary ID does {{person.name.first}} have?
                  </h1>
            </legend>
            <p>See the DWP's <a class="govuk-link govuk-link--no-visited-state" href="https://www.gov.uk/government/uploads/system/uploads/attachment_data/file/704327/acceptable-id-checklist.pdf">list of acceptable ID</a>.</p>
            <div class="govuk-radios" data-module="radios">
                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="id[secondary-id]-2" name="id[secondary-id]" type="radio" value="2">
                    <label class="govuk-label govuk-radios__label" for="id[secondary-id]-2">
                        Two or more
                    </label>
                </div>
                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="id[secondary-id]-1" name="id[secondary-id]" type="radio" value="1">
                    <label class="govuk-label govuk-radios__label" for="id[secondary-id]-1">
                        One
                    </label>
                </div>
                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="id[secondary-id]-0" name="id[secondary-id]" type="radio" value="0">
                    <label class="govuk-label govuk-radios__label" for="id[secondary-id]-0">
                        None
                    </label>
                </div>
            </div>
        </fieldset>
    </div>
    <button type="submit" class="govuk-button">
        Continue
    </button>
</form>



{% endblock %}
