{% extends "resettlement-planning/layout.html" %}

{% block pageTitle %}
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}



{% block content %}
  
<a href="/resettlement-planning/{{person.index}}/details" class="govuk-back-link">Back</a>

<h2 class="govuk-heading-l">{{person.name.first}} {{person.name.last}}
<span class="govuk-caption-l">Release date: {{person.releaseDate | formatDate("D MMMM YYYY")}}</span></h2>

{% if not person.hasWork %}
<form action="/resettlement-planning/{{person.index}}/work" method="post" novalidate>
    <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-fieldset__heading">
        Will {{person.name.first}} have employment when they leave prison?
      </h1>
            </legend>
            <div class="govuk-radios govuk-radios--inline" data-module="radios">
                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="has-work-1" name="has-work" type="radio" value="yes" data-aria-controls="conditional-has-work-1">
                    <label class="govuk-label govuk-radios__label" for="has-work-1">
                        Yes
                    </label>
                </div>
                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="has-work-2" name="has-work" type="radio" value="no" data-aria-controls="conditional-has-work-2">
                    <label class="govuk-label govuk-radios__label" for="has-work-2">
                        No
                    </label>
                </div>
            </div>
        </fieldset>
    </div>
    <button type="submit" class="govuk-button">
        Continue
    </button>
</form>

{% elseif person.hasWork == "no" %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
		<h1 class="govuk-heading-l">Benefits</h1>

		<p>{{person.name.first}} will be released to {{person.address.city}} so will be able to claim Univesal Credit. To make a claim, they will need:</p>
		<ul class="govuk-list govuk-list--bullet">
			<li>Proof of identity</li>
			<li>A bank account</li>
		</ul>

		<p><a class="govuk-link govuk-link--no-visited-state" href="https://www.gov.uk/universal-credit" title="">Find out more about Universal Credit</a></p>
	</div>
</div>

{% elseif person.hasWork == "yes" %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Work and Benefits</h1>
        
    </div>
</div>

{% endif %}


{% endblock %}
