{% extends "resettlement-planning/layout-prisoner.html" %}

{% block pageTitle %}
Work - {{person.name.first}} {{person.name.last}}
{% endblock %}



{% block backlink %}
<a href="/resettlement-planning/{{person.index}}/details" class="govuk-back-link">Back</a>
{% endblock %}

{% block maincontent %}
{% if not person.hasWork %}
<form action="/resettlement-planning/{{person.index}}/work" method="post" novalidate>
    <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-fieldset__heading">
        Will {{person.name.first}} have employment when released?
      </h1>
            </legend>
            <div class="govuk-radios govuk-radios--inline" data-module="radios">
                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="has-work-1" name="has-work" type="radio" value="yes" data-aria-controls="conditional-has-work-1">
                    <label class="govuk-label govuk-radios__label" for="has-work-1">
                        Yes
                    </label>
                </div>
                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="has-work-2" name="has-work" type="radio" value="no" data-aria-controls="conditional-has-work-2">
                    <label class="govuk-label govuk-radios__label" for="has-work-2">
                        No
                    </label>
                </div>
            </div>
        </fieldset>
    </div>
    <button type="submit" class="govuk-button">
        Continue
    </button>
</form>

{% else %}


    <p>{{person.name.first}} will {{ 'not' if person.hasWork == "no"}} be employed when they leave prison (<a href="#" class="govuk" title="">change</a>) </p>

{% endif %}


{% endblock %}
